.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

main {
  flex: 1;
  padding: 2rem 0;
}

table {
  border-collapse: separate;
  border-spacing: 1.5rem 0.25rem;
  margin-left: -1.5rem;
}

.headshot {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 1.5rem;
}
