.page-content {
  h2 {
    margin-top: 2rem;
    padding-bottom: 0.3em;
    border-bottom: 2px solid var(--color-accent);
  }

  ol, ul {
    margin: 1em 0;
    padding-left: 1.5em;
    list-style-position: outside;

    li {
      margin-bottom: 0.75em;
      line-height: 1.6;
    }
  }
}
