#rbmvFooter {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  height: 25em;
}

#rbmvFooter.footer {
  padding: 4% 8%;
  margin-top: 3em;
  font-weight: 300;
  font-size: 13px;
}

#rbmvFooter .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scrollTop {
  color: #FFFFFF!important; /* white */
}



body{
  font-family: 'Helvetica Neue', Arial, Georgia, serif;
  font-weight: 200;
  color: #1E5288;
}


