/*-- scss:defaults --*/
$body-bg: #002b36;
$body-color: white;
$link-color: #FFCC00;
$code-block-bg-alpha: -.8;
$visited-color: #FFCC00;

a{
    color: $link-color;
    text-decoration: none;
    background: transparent; 
    transition: background 1s ease, padding 1s ease;

    &:visited{
      color: $link-color;
    }
}


