.panel-default {
    border: 1px solid ua-color('river', 'light');
}
.panel-heading {
    padding: .75em 1em;
    border-bottom: 0 solid ua-color('ash', 'tint');
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-footer {
    padding: .75em 1em;
    background-color: ua-color('silver', 'tint');
    border-top: 0 solid ua-color('silver', 'tint');
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.panel {
    margin-bottom: 1em;
    background-color: ua-color('white');
    border: 1px solid ua-color('river', 'light');
    border-radius: 0;
    box-shadow: none;
}
.panel>.panel-heading {
    color: ua-color('ash');
    background-color: ua-color('silver', 'tint');
    border-color: ua-color('river', 'light');
}
.panel-default>.panel-heading {
    color: ua-color('white');
    background-color: ua-color('red');
    border-color: ua-color('red');
}
.panel-primary>.panel-heading {
    color: ua-color('white');
    background-color: ua-color('blue');
    border-color: ua-color('blue');
}
.panel-success>.panel-heading {
    color: ua-color('white');
    background-color: ua-color('cactus');
    border-color: ua-color('cactus');
}
.panel-info>.panel-heading {
    color: ua-color('ash');
    background-color: ua-color('sky');
    border-color: ua-color('sky');
    h3 {
        color: ua-color('ash');
    }
}
.panel-warning>.panel-heading {
    color: ua-color('white');
    background-color: ua-color('sand');
    border-color: ua-color('sand');
}
.panel-danger>.panel-heading {
    color: ua-color('white');
    background-color: ua-color('mesa');
    border-color: ua-color('mesa');
}
